<div class="reply">
    <span class="username"><%= user %></span><!--  - <button class="replyButton">Reply</button> -->
    <span>Votes: <%= votes %></span> <button class="upvoteButton">+</button>
    <p><%= content %></p>
</div>