body
{
    background: #eef2ff url(/image/fade-blue.png) top center repeat-x;
    color: #000;
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#links {
    float:right;
}

.divider {
    border: none;
    border-bottom: 1px solid #b7c5d9;
    width: fit-content;
    margin: 10px auto;
}

.boardTitle {
    font-family: Tahoma,sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -2px;
    margin-top: 0;
    text-align: center;
    clear: both;
    color: #af0a0f;
}

.center {
    text-align: center;
    margin: auto;
}

.boardList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.boardList li {
    margin: 10 0 0 0;
}
.thread {
    border: none;
    border-bottom: 1px solid #b7c5d9;
}
.threadTitle {
    color: #0f0c5d;
    font-weight: 700;
}
.username {
    font-weight: 700;
    color: #117743;
}
.splash {
display: block;
    margin: auto;
}
.copyright {
    font-size: 11px;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 1em;
}