<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/nav.ejs %>

    <div class="boardTitle divider">404 not found</div>
    <div class="center">Try something else.</div>

    <% include ../partials/copyright %>

    <script src="/index.js"></script>
</body>

</html>