<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/nav.ejs %>

    <div class="boardTitle divider">redchan</div>
    <img class="splash" src="/image/logo.png">
    <br>
    <div class="center">
        <h2 class="divider">boards</h2>
        <ul class="boardList">
            <li>
                <a href="/board/a/" title="all">all</a>
            </li>
            <li>
                <a href="/board/up/" title="updates">updates</a>
            </li>
        </ul>
        <br>
        <h2 class="divider">notice</h2>
        <p>don't hack this site - management</p>
    </div>

    <% include ../partials/copyright %>

    <script src="/index.js"></script>
</body>

</html>