<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/nav.ejs %>

    <img class="splash" src="">
    <div class="boardTitle divider">login</div>
    <div class="center">Anyone with a google account can login and contribute!</div>
    <br>

    <div class="center g-signin2" data-onsuccess="onSignIn"></div>

    <div id="account"></div>
    <div class="center" style="margin:10px">
        <button id="btnLogout" onclick="signOut();">Logout</button>
        <script>
            function onSignIn(googleUser) {
                /* vvv THIS is the sweet stuff vvv */
                // thank god someone thought of doing something as convoluted as I did
                // and decided to write documentation on it:
                // https://firebase.google.com/docs/auth/web/google-signin#advanced:-authenticate-with-firebase-in-node.js
                var id_token = googleUser.getAuthResponse().id_token
                //write this token to a cookie so that we can reuse it later
                document.cookie = "token=" + id_token + ";path=/"

                // send it to the server
                fetch("/login", {
                    method: "POST",
                    body: JSON.stringify({ token: id_token }),
                    headers: {
                        "Content-Type": "application/json",
                        "Accept": "application/json"
                    }
                })
                    .then(response => response.text())
                    .then(result => {
                        //document.getElementById('loginNotice').innerText = ("Logged in as: " + JSON.parse(result).userEmail)
                        //alert("Logged in as: " + JSON.parse(result).userEmail + "!")
                        
                    });
            }
        </script>
    </div>
    <script>
        function signOut() {

            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
                fetch("/logout", {
                    method: "POST",
                })
                    .then(console.log("logout sent"));
            });
        }
    </script>

    <% include ../partials/copyright %>
    <script src="/index.js"></script>
</body>

</html>