<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/nav.ejs %>

    <img class="splash" src="">
    <div class="boardTitle divider">login</div>
    <br>

    <script src="/index.js"></script>
</body>

</html>